DATABASE_URL=
LUCIA_SECRET=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:3001/auth/spotify/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3001/auth/youtube/callback

SOUNDCLOUD_CLIENT_ID=
SOUNDCLOUD_CLIENT_SECRET=
SOUNDCLOUD_REDIRECT_URI=http://localhost:3001/auth/soundcloud/callback

PANDORA_CLIENT_ID=
PANDORA_CLIENT_SECRET=
PANDORA_REDIRECT_URI=http://localhost:3001/auth/pandora/callback

FRONTEND_URL=http://localhost:5173
